<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tangxiaowen</title>
    <link rel="stylesheet" href="__CSS__/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/mystyle/css/css.css">
    <script src="__JS__/jquery/jquery-3.3.1.min.js"></script>
    <script src="__JS__/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="__JS__/mystyle/js/js.js"></script>
</head>
<body>

    <!--模板继承-->
    {block name="contents"}{/block}
    <!--模板继承end-->

</body>
</html>