<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小氏小蚊博客V3</title>
    <link rel="stylesheet" href="__CSS__/layui/css/layui.css" />
    <link rel="stylesheet" href="__CSS__/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/mystyle/css/css.css">
    <script src="__JS__/jquery/jquery-3.3.1.min.js"></script>
    <script src="__JS__/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="__JS__/layui/layui.js"></script>
    <script src="__JS__/mystyle/js/js.js"></script>
    <script src="__JS__/mystyle/js/session.js"></script>
    <!--qq登陆的js文件-->
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="100229030" charset="utf-8"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <!--模板继承-->
    {block name="contents"}{/block}
    <!--模板继承end-->

</body>
</html>