<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>text • text</title>
		<meta name="description" content="">
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="__CSS__/common/bootstrap-3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" href="__CSS__/common/layui/css/layui.css" />
		<link rel="stylesheet" href="__CSS__/xadmin/mystyle/css/mycss.css" />
		<script src="__CSS__/xadmin/mystyle/js/jquery-3.3.1.min.js"></script>
		<script src="__CSS__/common/bootstrap-3.3.7/js/bootstrap.min.js"></script>
		<script src="__CSS__/common/layui/layui.js"></script>
		<script src="__CSS__/xadmin/mystyle/js/myjs.js"></script>

		<!-- 移动端分享所需组件 -->
		<meta property="og:description" content="关键字描述">
		<meta property="og:image" content="分享的链接图片logo 如:http://tangxiaowen.com/img/logo.jpg">
		<meta property="og:site_name" content="分享的链接标题 如小氏小蚊博客">
		<meta property="og:title" content="分享的链接标题 如小氏小蚊博客">
		<meta property="og:type" content="website">
		<meta property="og:url" content="分享的链接地址 如http://tangxiaowen.com">

	</head>

	<body class="layui-layout-body">
		
		<!--模板继承-->
		{block name="contents"}{/block}
		<!--模板继承end-->
				
	</body>

</html>