{extend name="public/header" /} {block name="contents"}

<!--广告-->
<div class="banner">
	<div class="ban-con">
		<ul class="con col-lg-12 col-md-10 col-sm-8 col-xs-6">
			<li class="col-lg-2 col-md-4 col-sm-6 col-xs-6">广告位</li>
			<li class="col-lg-2 col-md-4 col-sm-6 col-xs-6">广告位</li>
			<li class="col-lg-2 col-md-4 col-sm-6 col-xs-6">广告位</li>
			<li class="col-lg-2 col-md-4 col-sm-6 col-xs-6">广告位</li>
			<li class="col-lg-2 col-md-4 col-sm-6 col-xs-6">广告位</li>
			<li class="col-lg-2 col-md-4 col-sm-6 col-xs-6">广告位</li>
		</ul>
	</div>
</div>

<!--广告end-->
<!--头部-->
<div class="header">
	<div class="hea-con">
		<div class="con-left" style="padding:0px;">
			<ul class="layui-nav col-lg-12 heder_a" lay-filter="">
				<li class="layui-nav-item">
					<a href="#">Home</a>
				</li>
				<li class="layui-nav-item">
					<a href="#">subMenu1</a>
				</li>
				<li class="layui-nav-item">
					<a href="#">subMenu2</a>
				</li>
				<li class="layui-nav-item">
					<a href="#">subMenu3</a>
				</li>
				<li class="layui-nav-item">
					<a href="#">subMenu4</a>
				</li>
				<li class="layui-nav-item">
					<a href="#">subMenu5</a>
				</li>
				<li class="layui-nav-item">
					<a href="#">subMenu6</a>
				</li>
				<li class="layui-nav-item">
					<a href="#">subMenu7</a>
				</li>
			</ul>
		</div>
		<div class="con-right">
			<?php if(is_null(session('userInfo','','xhome'))){ ?>
			<a href="{:url('xhome/index/QqLogin')}"><img src="__IMG__/mystyle/img/fodder/bt_blue_24X24.png" alt=""></a>
			<?php 	}else{   ?>
			<div class="user_img">
				<img src="<?php echo session('userInfo.head_img','','xhome') ?>" alt="" />
			</div>
			<div class="user_info">
				<p class="user_name"><?php echo session('userInfo.username','','xhome') ?></p>
				<a href="{:url('xhome/index/QqLoginOut')}">退出</a>
			</div>
			<?php	}  ?>
		</div>
	</div>
</div>
<!--头部end-->
<script>
	//注意：导航 依赖 element 模块，否则无法进行功能性操作
	layui.use('element', function() {
		var element = layui.element;

		//…
	});
</script>

<!--标题添加class-->
<script>
	$(function() {

		$(".heder_a li").click(function() {
			$.session.set('key', $(this).index());
		});
		if($.session.get('key')) {
			index = $.session.get('key');
		} else {
			index = 0;
		}

		$(".heder_a li").eq(index).addClass('layui-this');
		$(".heder_a li").eq(index).siblings('li').removeClass('layui-this');
	});
</script>
{/block}